---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Sobre mí">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola soy Dr. en Inteligencia Artificial, soy catedratico, investigador en
      el TECNM, DJ, y productor. .
      <br />
      Mis habilidades y servicios son:
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>Consultoria en TI</li>
        <li>Machine Learning</li>
        <li>Resparación de computadoras</li>
        <li>Mantenimiento</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus minima
      nihil at accusamus perspiciatis tempore sequi atque exercitationem,
      architecto nam nemo fugit modi? Tempora ipsa amet optio sequi nobis natus.
    </p>
    <p class="text-sm font-light">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione ipsum
      illo cum, assumenda beatae dolorem! Inventore quis facilis, voluptate
      aliquam itaque laborum fugit vel. Dolore dicta autem quis deserunt
      suscipit.
    </p>
  </div>
</Card>
