---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Ahora</h2>
      <a href="https://zongolica.tecnm.mx/TecNM/" target="_blank">
        <span class="text-xs text-gray-500 cursor-pointer"
          >Catedratico del TECNM</span
        >
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Soy catedratico en el TECNM Campus Zongolica</p>
</Card>
